body {
  width: 960px;
}

#buttons {
  float: left;
  width: 200px;
  background-color: #5C5CD6;
  margin: 10px;
  border-radius: 15px;

}

.button {
  width: 150px;
  height: 30px;
  background-color: #5CD699;
  margin: 10px auto;
  text-align: center;
  padding: 15px;
  border-radius: inherit;

}

#container {
  overflow: hidden;
  margin: 10px;
}

.square {
  border: 1px solid black;
  height: 7px;
  width: 7px;
  background-color: #D4CBCB;
  display: inline-block;
}

.blacked {
  border: 1px solid #000000;
  background-color: #000000;
}

.highlight {
  border: 1px solid yellow;
}
